@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,800,300);

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans','Helvetica Neue',Helvetica, sans-serif;
  line-height: 1.45;
}

header {
  color: #FFF;
  background-color: #284b63;
  padding: 80px 0;
  text-align: center;
}

section {
  padding: 40px 0;
  text-align: center;
}

.features {
  background: #FFF;
  color: #000;
}

.quote{
  background: #549DA0;
  color: #FFF;
}

footer {
  background: #353535;
  padding: 32px 0;
  text-align: center;
  color: #868686;
}

h1 {
  font-size: 48px;
  margin: 0 0 16px 0;
}
  
h2 {
  font-weight: 300;
  font-size: 24px;
  margin: 0 0 16px 0;
}

.container {
  margin: 0 auto;
  padding: 0 20px 0 20px;
  max-width: 900px;
}

.btn {
  display: inline-block;
  color: white;
  font-weight: 500;
  font-size: 20px;
  background: #549DA0;
  border: none;
  border-radius: 5px;
  padding: 12px 16px;
  cursor: pointer;
}

.btn:hover{
  background: #468486;
}

.feature {
  width: 32%;
  display: inline-block;
  font-size: 16px;
}

.feature img{
  width: 40%;
}

blockquote {
  margin: 0;
  padding: 0;
  text-align: center;
}

blockquote p {
  margin: 0 0 5px 0;
  font-size: 24px;
}

blockquote cite {
  font-size: 16px;
  font-style: italic;
}

blockquote cite:before {
  content: '-';
  margin-right: 5px;
}